{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="container text-center" id="portfolio">
        <h2 class="m-5 text-warning">Mon Portfolio </h2>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/supermario.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Projet Javascript</h5>
                            <p class="card-text">Venez (re)découvrir Mario en version Nes !</p>
                            <a href="https://damien1989.github.io/Mario-last-version/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/E-Commerce-PNG-HD-Quality.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Magasin en ligne</h5>
                            <p class="card-text">Connectez-vous et achetez </p>
                            <a href="https://damien1989.github.io/Mario-last-version/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/who1.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Fullbus</h5>
                            <p class="card-text">Réservez votre prochain voyage en France </p>
                            <a href="https://fullbus.harari.ovh/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/darkmode.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Eclairage site</h5>
                            <p class="card-text">Changez le mode d'éclairage de votre site.</p>
                            <a href="https://damien1989.github.io/darkmode-javascript/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/series.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Wild Series</h5>
                            <p class="card-text">Consultez site sous Symfony</p>
                            <a href="https://damien1989.github.io/darkmode-javascript/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/pianos.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Piano</h5>
                            <p class="card-text">Exécutez vos premières notes de musique</p>
                            <a href="https://damien1989.github.io/piano-js/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}