{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="container text-center" id="portfolio">
        <h2 class="m-5 text-warning">Mon Portfolio </h2>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/supermario.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Projet Javascript</h5>
                            <p class="card-text">Venez (re)découvrir le jeu culte Super Mario en version Nes !</p>
                            <a href="https://damien1989.github.io/Mario-last-version/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/E-Commerce-PNG-HD-Quality.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Magasin en ligne</h5>
                            <p class="card-text">Connectez-vous et achetez via Stripe </p>
                            <a href="https://damien1989.github.io/Mario-last-version/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/who1.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Fullbus</h5>
                            <p class="card-text">Réservez votre prochain voyage en France </p>
                            <a href="https://fullbus.harari.ovh/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/calculatrice.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Calculatrice</h5>
                            <p class="card-text">Calculer devient un jeu d'enfant</p>
                            <a href="https://damien1989.github.io/calcul-js/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/series.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Wild Series</h5>
                            <p class="card-text">Un projet Symfony</p>
                            <a href="https://damien1989.github.io/darkmode-javascript/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/pianos.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Piano</h5>
                            <p class="card-text">Exécutez vos premières notes de musique</p>
                            <a href="https://damien1989.github.io/piano-js/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/avion.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Aéroport</h5>
                            <p class="card-text">Consultez les prochains départs et voyagez en toute tranquillité</p>
                            <a href="https://damien1989.github.io/flight/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/word.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Mot Magique</h5>
                            <p class="card-text">Animez des lettres avec du CSS</p>
                            <a href="https://damien1989.github.io/super-game/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/diagonal.jpg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Diagonal</h5>
                            <p class="card-text">Page avec des formes diagonales</p>
                            <a href=" https://damien1989.github.io/diagonal-page/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/todolist.png') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">To do list</h5>
                            <p class="card-text">Organisez vos journées</p>
                            <a href="https://damien1989.github.io/todolist/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="{{ asset('uploads/button.jpeg') }}" class="d-block w-100">
                        <div class="card-body">
                            <h5 class="card-title">Bouton en cours de chargement</h5>
                            <p class="card-text">Lancer votre bouton</p>
                            <a href="https://damien1989.github.io/loading-button/" class="button">En savoir plus</a>
                        </div>
                    </div>
                </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ asset('uploads/pui.png') }}" class="d-block w-100">
                            <div class="card-body">
                                <h5 class="card-title">Puissance 4</h5>
                                <p class="card-text">Retrouvez les plaisirs de ce classique sous format numérique</p>
                                <a href="https://damien1989.github.io/puissance4/" class="button">En savoir plus</a>
                            </div>
                        </div>
                    </div>
            </div>
                </body>
{% endblock %}